*{
    padding: 0;
    margin: 0;
}

.header{
    position: relative;
    padding-top: 40px;
    height: 100px;
    background-color: rgba(0, 255, 179, 0.699);
    border-radius: 50%;
    text-align: center ;
    
}

.div_1{
   
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 60px;
}

.button_style{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_style{
    position: relative;
    
}